{% extends 'registration/init/base.html.twig' %}

{% block classes %}
	<div class="w-100 mb-2">
		<label class="fw-bold w-100">{{ form_label(form.class) }}</label>
		{{ form_widget(form.class) }}
		{{ form_errors(form.class) }}
	</div>
{% endblock %}
