.center {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.base-title{
   width: 100%;
   
   font-weight: bold;
   text-align: center;
 
   font-size: 1.75rem;

   text-transform: uppercase;
}