.item > div{
     padding: 20px 0px !important;
}  

.cancelled{
   background-color: rgb(249, 66, 66);
}

.modificated{
   background-color: yellow;
}

.accordingi-to-plan {
   background-color: lightgreen;
}

.new {
   background-color: greenyellow;
}