{% extends 'base.html.twig' %}

{% block title %}
	Tworzenie klasy
{% endblock %}

{% block body %}
	<div class="mx-auto px-2">
		<h1 class="fw-bold text-center fs-3 w-100">Lista klas</h1>

		{% if classes|length > 0 %}

			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nr</th>
						<th>Nazwa klasy</th>
						<th>Wychowawca klasy</th>
					</tr>
				</thead>
				<tbody>
					{% for i, class in classes %}
						<tr>
							<td>{{ i + 1 }}</td>
							<td>{{ class.name }}</td>
							<td>{{ class.teacher ? class.teacher.name : "Brak"}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			Tu jeszcze nic nie ma
		{% endif %}

	</div>
{% endblock %}
