<div id="grid" class="row g-4">
   {% for item in subjects %}
      <div class="col-12 col-md-6 col-xl-4 col-xxl-3">
         <div class="card">
            <div class="card-body">
               <h5 class="card-title">{{ item.name }}</h5>

               <div class="d-flex">
                  <a href="{{ path('app_subject_edit', {id: item.id, flow}) }}" class="btn btn-primary me-2">Edytuj</a>
                  <form action="{{ path('app_subject_delete', {id: item.id, flow}) }}" method="POST">
                     <button class="btn btn-danger" type="submit">Usuń</button>
                  </form>
               </div>
            </div>
         </div>
      </div>
   {% endfor %}
</div>
